.header {
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  color: #000;
}

.shop_menu {
  display: flex;
  width: 25rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}

.profile img {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}
