.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-family: "Montserrat;", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #1c2a39;
}

.container_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container_profile_information {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.profile_header {
  font-family: "Montserrat;", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 0.5rem;
}

.profile_name {
  font-family: "Montserrat;", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 1rem;
}

.container_about {
  display: flex;
  flex-direction: column;
  background: #ffe0e2;
  width: 22.063rem;
  height: 21.563rem;
}

.about_header {
  font-family: "Montserrat;", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin: 1rem auto;
  margin-bottom: 2rem;
}

.about_text {
  width: 18.5rem;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #5c6a79;
}
